<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="allsense.shopwithfriends" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".SWFApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".WelcomeActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".WelcomeActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:parentActivityName=".LoginActivity" >
        </activity>
        <activity
            android:name=".FriendsActivity"
            android:label="@string/title_activity_friends"
            android:parentActivityName=".MainMenuActivity" >
        </activity>
        <activity
            android:name=".AddFriendActivity"
            android:label="@string/title_activity_add_friend"
            android:parentActivityName=".FriendsActivity" >
        </activity>
        <activity
            android:name=".DisplayFriendActivity"
            android:label="@string/title_activity_display_friend"
            android:parentActivityName=".FriendsActivity" >
        </activity>
        <activity
            android:name=".ReportSaleActivity"
            android:label="@string/title_activity_report_sale" >
        </activity>
        <activity
            android:name=".RegisterInterestActivity"
            android:label="@string/title_activity_register_interest" >
        </activity>
        <activity
            android:name=".SalesActivity"
            android:label="@string/title_activity_sales" >
        </activity>
        <activity
            android:name=".DisplaySaleActivity"
            android:label="@string/title_activity_display_sale" >
        </activity>
        <activity
            android:name=".ReportToFriendActivity"
            android:label="@string/title_activity_report_to_friend" >
        </activity>
    </application>

</manifest>
